body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(108, 47, 177);
    color: rgb(108, 47, 177);
}





nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    margin-left: 300px;
    display: inline-flex;
    margin: 15px;
}

nav a{
    display: inline;
    border: 1px dotted transparent;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 100px;
   font-family: "Lucida Console", "Courier New", monospace;
}


nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background: rgb(108, 47, 177);
  padding: 15px 30px;
  width: fit-content;
  margin: 40px auto;

  border-radius: 50px; 
}

nav :hover{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    border-radius: 5px;
}

nav ul li a{
    margin-left: 20px;
    text-decoration: none;
}

h1{
    color: white;
    text-align: center;
}


h2{
    color: white;
    background-color: rgb(189, 94, 39);
    text-align: center;
    margin-left: 850px;
    display: inline-flex;
    
}


.container{
    background: rgb(71, 190, 111);
}

.container h1{
    background-color: rgb(71, 190, 111);
    padding: 300px;
    margin: 100px;
    font-size: 35px;


}

.container h3{
    background-color: rgb(71, 190, 111);
    margin: 150px;
    font-size: 35px;
    color: white;


}

