p {

margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80;
color: rgb(0, 0, 255);
background-color: azure;
padding: 20px;

}
div {

    width: 500px;
    border: 15px solid red;
    margin: 50px;
    padding: 50px;
    background-color: lightgray;


}
body {
background: url(Soothing-nature-backgrounds-2.jpg);
background-size: cover;
}