body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(39, 31, 31);
    color: aqua;
}

nav{
    padding: 10px;
    margin: 50px;
    background: rgb(209, 148, 92);
    width: 100%;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 15px;
}

nav a{
    display: inline;
    border: 1px dotted transparent;
    text-decoration: none;
    color: aqua;
    padding-right: 100px;
}


nav img{
    width: 70px;
    height: 70px;
    float: left;
}

