body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(39, 31, 31);
    color: aqua;
}

nav{
    padding: 10px;
    margin: 50px;
    background: rgb(26, 10, 97);
    width: 100%;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 15px;
}

nav a{
    display: inline;
    border: 1px dotted transparent;
    text-decoration: none;
    color: aqua;
    padding-right: 100px;
}


nav img{
    width: 70px;
    height: 70px;
    float: left;
}



body {
background-image: url("apple-znak-blu-fon.webp"); 

  background-repeat: no-repeat; 
  
  background-size: cover; 

 
  background-position: center; 

  
  background-attachment: fixed; 
  
  
  background-color: black;
}

h1, h2 {
  color: rgb(93, 80, 141);
  text-align: left;
  padding-top: 50px;
}

.Gallery{
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
}

.Gallery :hover{   
     border: 3px solid rgb(45, 42, 231);
}


.Gallery img{
 width: 100%;
 height: auto;
}
