body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(39, 31, 31);
    color: aqua;
}



nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 15px;
}

nav a{
    display: inline;
    border: 1px dotted transparent;
    text-decoration: none;
    color: aqua;
    padding-right: 100px;
}


nav img{
    width: 70px;
    height: 70px;
    float: left;
}


nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background: rgb(11, 13, 156);
  padding: 15px 30px;
  width: fit-content;
  margin: 40px auto;

  border-radius: 50px; /* SOFT EDGES */
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}




body {
background-image: url("apple-znak-blu-fon.webp"); 

  background-repeat: no-repeat; 
  
  background-size: cover; 

 
  background-position: center; 

  
  background-attachment: fixed; 
  
  
  background-color: black;
}

h2{
 font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: rgb(93, 80, 141);
  text-align: left;
  padding-top: 50px;

}

h1{
    font-size: 3rem;
    font-family: 'Courier New', monospace;
  color: rgb(93, 80, 141);
  text-align: left;
  padding-top: 50px;
}

.Gallery{
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
}

.Gallery :hover{   
     border: 3px solid rgb(45, 42, 231);
}


.Gallery img{
 width: 100%;
 height: auto;
}
