ul {
    list-style-type: none;
    padding: 10px 25px;
    border-left: 10px solid green; 
    color: black;
    background-color: aqua;
    font-size: larger;
}
ol{
   list-style-type: upper-alpha;
}

ul li {

padding: 0;
border-bottom: 8px solid grey;

}

ol{
background-color: beige;

}

ol li {

   background-color: aqua;  
   padding: 10px;
   margin-left: 30px;
}
td, th{
border:1px solid black ;
padding: 10px;
}