.dropdown-content{
    display: none;
}


.dropdown:hover .dropdown-content{
   display: block;
   padding: 50px;
   width: 100px;
   background-color: rgb(17, 71, 71);
   box-shadow: 10px 10px 10px 10px black;
}



.tooltip{
    padding: 19px;
    display: inline-block;
    border: 2px dotted black;
}

.tooltip-text{
    visibility: hidden;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    width: 100px;
    background: black;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 140px;
    left: 4%;
    margin-left: -60px;
}


#example1{
 
    width: 100px;
    height: 50px;
    background-image:url(emoji.jpg) ;
    border-radius: 5px 10px 15px 20px;

}

#example2{

    width: 100px;
    height: 50px;
    background-image:url(emoji.jpg) ;
    border-radius: 20px 10px;

}

#example3{

    width: 100px;
    height: 50px;
    background-image:url(emoji.jpg) ;
    border-radius: 50px;

}


#example4{

    width: 100px;
    height: 50px;
    background-image:url(emoji.jpg) ;
    border-radius: 50px 20px;

}