div#div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#div2{
     position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 1000px;
    top: 100px;
}

div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    top: 100px;
    right: 150px;
}


#dropdown{
overflow: hidden;
background-color: aqua;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#dropdown a{
float: left;
font-size: 16px;
color: blue;
text-align: center;
padding: 15px;
text-decoration: none;

}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropbtn{
 font-size: 16px;   
 border: none;
 outline: none;
 color: blue;
 padding: 15px;
 background-color: inherit;
 font: inherit;

}

#dropdown a:hover, #nav-dropdown:hover{
    background-color: skyblue;

}

#dropdown-content{
    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    box-shadow: 10px black;

}

#column{
    float: left;
    width: 50%;
    padding: 10px;
    background-color: bisque;
    height: 250px;

}

#column a{
    float: none;
    color: azure;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav-dropdown:hover #dropdown-content{
    display: block;
}

#row::after{
    display: table;
}



